*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-image: url(./img/fondo.jpg);
    max-width: 1200px;
    margin: 0 auto;
}

/* header */
.icon-logo{
    width: 150px;
}

.verCarrito{
    width: 40px;
    height: 40px;
    stroke: black;
}

.container-header{
    display: flex;
    justify-content: space-between;
    padding:30px;
    background-color: aliceblue;
}

.container-cart{
    position: relative;
}

/* seccion productos */

.container-products{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    margin-top: 30px;
    margin-left: 80px;
    margin-right: 80px;
    margin-bottom: 30px;
}

.card{
    border-radius: 10px;
    border-color: rgb(119, 235, 243);
    background-color: aliceblue;
    padding: 10px;
    max-width: 300px;
    margin: auto;
    text-align: center;
}

.card:hover{
    box-shadow: 0 10px 20px rgba(0,0,0,0.20);
}

.productImg{
    max-width: 80%;
    height: 250px;
    object-fit: cover;
}

h2{
    font-size: medium;
}

.price{
    font-weight: bold;
    color: red;
}

.btnComprar{
    border: none;
    background-color: lightgray;
    color: black;
    font-weight: bold;
    padding: 12px;
    text-align: center;
    cursor: pointer;
    width: 100%;
    margin-bottom: 50%;
}

